<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books Directory</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <h3>Books Directory</h3>
    <hr>

    <a th:href="@{/books/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Add Book
    </a>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Book Name</th>
            <th>Book Availability</th>
            <th>Book Type</th>
            <th>Member Who Ordered</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempBook : ${books}">
            <td th:text="${tempBook.bookName}" />
            <td th:text="${tempBook.bookStatus}" />
            <td th:text="${tempBook.bookType}" />
            <td th:text="${tempBook.memberName}" />
            <td>
            <a th:if="${tempBook.bookStatus == true}" th:href="@{/books/order(id=${tempBook.id})}"
                   class="btn btn-info btn-sm">
                    Order
                </a>


                <a th:href="@{/books/showFormForUpdate(id=${tempBook.id})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>
                <a th:href="@{/books/delete(id=${tempBook.id})}"
                   class="btn btn-danger btn-sm">
                    Delete</a>
            </td>
        </tr>
        </tbody>
    </table>


    <a th:href="@{/catalogue/list}"
       class="btn btn-primary btn-sm mb-3">
        Go to Catalogue
    </a>

</div>

</body>

</html>